//Estilos generales
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}
//Titulos
@mixin titulos($color, $size) {
  font-size: $size;
  color: $color;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: normal;
}
//Bloques de información con caracteristicas comunes
@mixin info($pl) {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: $pl;
  padding-right: 1rem;
}
//H2
h2 {
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
}
//párrafos
p {
  margin-top: 14px;
  font-family: "IBMPlexMono", monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}
//Botones
.btn-podcast {
  margin-top: 56px;
  width: 226px;
  height: 56px;
  font-family: "IBMPlexMono-Medium", monospace;
  color: #060a24 100%;
  height: 56px;
  background: rgba(0, 243, 187, 1);
  border: 0;
}
.btn-podcast:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  color: #ffffff;
  cursor: pointer;
}
//Cabecera
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    //Logo
    position: relative;
    width: 36px;
    height: 36px;
    left: 100px;
  }
  .menu {
    //El checkbox-hack en versión desktop no se visualiza
    #checkbox-hack {
      display: none;
    }
    //Barra de navegación
    nav {
      position: relative;
      right: 100px;
      display: flex;
      ul {
        display: flex;
        justify-content: flex-end;
        li {
          list-style: none;
          padding-left: 48px;
          a {
            //Elementos de la navegacion
            text-decoration: none;
            font-size: 16px;
            color: #060a24;
            letter-spacing: 0;
            line-height: 28px;
          }
          //Hover de la navegación
          a:hover {
            color: #00f3bb;
            text-decoration: line-through;
          }
        }
        //Target es útil para indicar el link activo
        li:target {
          a {
            color: rgba(6, 10, 36, 0.56);
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
main {
  .initial {
    position: relative;
    top: 150px;
    @include info(200px);
    align-items: start;
    .titles {
      //Muestra los dos h1 en una fila
      display: flex;
      del {
        //Separa los dos h1
        padding-right: 1rem;
      }
      h1 {
        @include titulos(rgba(6, 10, 36, 1), 64px);
        span {
          color: rgba(0, 0, 236, 1);
        }
      }
    }
    //Al llegar al tamaño indicado los h1 se muestran uno debajo del otro
    @media screen and (max-width: 980px) {
      .titles {
        display: block;
      }
    }
    //Oculta el párrafo versión mobile
    #parrafoMobile {
      display: none;
    }
    //Muestra el párrafo versión escritorio
    #parrafoDesktop {
      display: block;
      font-size: 16px;
      line-height: 24px;
      span {
        display: block;
      }
    }
  }
  .podcasts {
    //Flexbox para el contenedor general
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 150px;
    width: 100%;
    height: 1043px;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
    h1 {
      @include titulos(#ffffff, 48px);
      position: relative;
      bottom: 5rem;
      padding-left: 200px;
    }
    .iframes {
      //CSS grid para el contenedor de los iframes
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4em;
      justify-items: center;
      position: relative;
      bottom: 2rem;
      padding: 0 100px 0 100px;
      iframe {
        width: 100%;
      }
    }
  }
  .intermedio {
    display: flex;
    justify-content: space-evenly;
    //Teléfono celular
    .cel {
      position: relative;
      bottom: 50px;
      img {
        width: 458px;
        height: 660px;
      }
    }
    //De donde venimos
    .ddv {
      align-self: center;
      position: relative;
      bottom: 30px;
      right: 3em;
      padding-left: 16px;
      width: 464px;
      h1 {
        @include titulos(rgba(6, 10, 36, 1), 48px);
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .invitados {
    //Separación con respecto a la sección previa
    margin-bottom: 64px;
    //Caracteristicas del h1
    h1 {
      @include titulos(rgba(6, 10, 36, 1), 48px);
      width: 481px;
      position: relative;
      left: 200px;
      margin-bottom: 36px;
    }
    .imagenes {
      //CSS grid para las imagenes
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .temas {
    h1 {
      @include titulos(rgba(6, 10, 36, 1), 48px);
      width: 586px;
      position: relative;
      left: 200px;
      margin-bottom: 56px;
    }
    .iconos {
      //CSS grid para los iconos y su información
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 220px);
      grid-template-rows: 130px 64px;
      justify-items: center;
      align-items: center;
      //Selecciona los elementos según su ubicación (en este caso la info)
      & :nth-child(2n) {
        //Se le da a dicho elementos un orden distinto a cero para ubicarlos correctamente
        order: 1;
      }
      margin-bottom: 34px;
    }
  }
  .novedades {
    height: 518px;
    //Gradiente y clip-path de la sección novedades
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    .info-novedades {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        @include titulos(#ffffff, 48px);
      }
      button {
        //El botón de está sección tiene sus propias caracteristicas
        width: 345px;
        height: 56px;
        font-size: 18px;
      }
    }
  }
  footer {
    //Flexbox para el footer
    display: flex;
    height: 95px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    p {
      //Se sobreescribe el margin-top para este párrafo
      margin-top: 0;
    }
    .iconos-footer {
      //Flexbox para los iconos
      width: 232px;
      display: flex;
      justify-content: space-between;
    }
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////
//Media query para visualizar la versión mobile
//////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 850px) {
  header {
    //Se define el tamaño de la cabecera
    height: 44px;
    top: 0;
    left: 0;
    img {
      //Posiciona la imagen del logo en el lugar deseado
      width: 24px;
      height: 24px;
      top: 10px;
      left: 16px;
    }
    .menu {
      //Menú flotante a la derecha
      float: right;
      nav {
        //El navbar tiene posición absoluta para ubicarse justo donde la cabecera termina
        position: absolute;
        //Alinea el contenido a la izquierda
        text-align: left;
        //Oculta el cuadro y sus items
        display: none;
        //Ubicación, tamaño y color deseado
        top: 44px;
        left: 0;
        width: 100%;
        height: 224px;
        z-index: 100;
        background: #0000ec;
        ul {
          //Display flex para ubicar los elementos del navbar
          flex-direction: column;
          justify-content: space-around;
          height: 100%;
          li {
            padding-left: 16px;
            display: block;
            list-style: none;
            a {
              color: #ffffff;
              font-family: "IBMPlexMono", monospace;
              padding-left: 0;
            }
            a:hover {
              color: #ffffff;
              text-decoration: none;
            }
          }
          li:target {
            a {
              color: #ffffff;
              text-decoration: none;
            }
          }
        }
      }
      #checkbox-hack {
        display: block;
        //Tamaño del checkbox
        width: 18px;
        height: 12px;
        //Estará por ubicado por encima en el eje z
        z-index: 10;
        //Ubicación deseada
        position: absolute;
        right: 1rem;
        top: 2rem;
        //Oculta el checkbox
        opacity: 0;
      }
      #checkbox-hack:checked {
        & ~ .menu-bar.primer-linea {
          /* Cuando el checkbox este checked, se agarra a menu-bar primer-linea */
          transform: rotate(45deg);
          transform-origin: 0% 0%;
          //Ubicación nueva
          right: 0.8rem;
          margin-bottom: 4px;
        }
      }
      #checkbox-hack:checked {
        & ~ .menu-bar.segunda-linea {
          /* Cuando el checkbox este checked, agarramos a menu-bar segunda-linea */
          opacity: 0;
          //Ubicación nueva
          right: 0.8rem;
          margin-bottom: 4px;
        }
      }
      #checkbox-hack:checked {
        & ~ .menu-bar.tercer-linea {
          /* Cuando el checkbox este checked, agarramos a menu-bar tercer-linea */
          transform: rotate(-45deg);
          transform-origin: 0% 100%;
          //Ubicación nueva
          right: 0.8rem;
          margin-bottom: 4px;
        }
      }
      #checkbox-hack:checked {
        & ~ nav {
          //Cuando está en checked se muestra el menú hambueguesa
          display: block;
          //Animacion para mostrar el menú
          @keyframes show {
            from {
              height: 0;
            }
            to {
              height: 224px;
            }
          }
          animation-name: show;
          animation-duration: 0.5s;
          animation-timing-function: ease;
        }
      }
      .menu-bar {
        //Dibuja el menú hamburguesa
        //Posición y tamaño deseados
        position: relative;
        width: 18px;
        height: 2px;
        background-color: black;
        z-index: 1;
        top: 16px;
        right: 1rem;
        //Separación de las lineas
        margin-bottom: 3px;
      }
    }
  }
  main {
    .initial {
      left: 0;
      align-items: stretch;
      //Tamaño de letra mas pequeño
      @include info(16px);
      top: 29px;
      .titles {
        h1 {
          @include titulos(rgba(6, 10, 36, 1), 36px);
          span {
            color: inherit;
          }
        }
      }
      //Se visualiza el párrafo de esta sección para la version mobile
      #parrafoMobile {
        display: block;
      }
      //Oculta el párrafo versión escritorio
      #parrafoDesktop {
        display: none;
      }
    }
    .podcasts {
      //El display de esta sección ya no será flex
      display: block;
      //Ubicación
      top: 52px;
      //Gradiente
      background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
      clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 3%);
      height: auto;
      h1 {
        //Sobreescribe estilos de este h1
        font-size: 36px;
        padding: 70px 16px 19px;
        margin-left: 0px;
        bottom: 0;
      }
      .iframes {
        //Solo se necesita una columna
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: auto;
        gap: 11px;
        padding: 19px 0 10em;
        bottom: 0;
        iframe {
          width: 400px;
          height: 232px;
        }
        //Cambia el tamaño de los iframe cuando se llega a 460px
        @media screen and (max-width: 460px) {
          iframe {
            width: 298px;
          }
        }
        //Cambia el tamaño de los iframe cuando se llega a 380px
        @media screen and (max-width: 380px) {
          iframe {
            width: 232px;
          }
        }
      }
    }
    .intermedio {
      display: block;
      .cel {
        //La imagen del se centra usando flexbox
        display: flex;
        justify-content: center;
        bottom: 3em;
        img {
          //Tamaño maximo al que puede llegar para no desbordar el contenedor principal
          max-width: 360px;
          width: 100%;
          height: auto;
        }
      }
      //Seccion "de donde venimos" pasa a estar debajo del télefono celular
      .ddv {
        //La posicion ahora es estatica
        position: static;
        padding: 0 16px 0px 16px;
        right: 0;
        width: auto;
        h1 {
          font-size: 36px;
        }
        p {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
    .invitados {
      margin-bottom: 0;
      h1 {
        width: auto;
        font-size: 36px;
        padding-left: 16px;
        margin: 54px 0 14px 0;
        position: static;
      }
      .imagenes {
        display: block;
        img {
          //Se usa flexbox para ubicar las imagenes
          display: flex;
        }
      }
    }
    .temas {
      h1 {
        width: auto;
        font-size: 36px;
        position: static;
        padding-left: 16px;
        margin: 48px 0 24px 0;
      }
      .iconos {
        //Los iconos ahora se ubican en una solo columna
        justify-items: center;
        grid-template-columns: 1fr;
        //Se revierte el orden previo para visualizarlos correctamente
        & h2:nth-child(2n) {
          order: 0;
          width: auto;
          margin: 13px 0 50px 0;
        }
      }
    }
    .novedades {
      width: 100%;
      height: 341px;
      background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
      clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0 100%);
      .info-novedades {
        align-self: center;
        @include info(16px);
        h1 {
          font-size: 36px;
          text-align: center;
        }
        button {
          //El botón de esta sección tiene otras proporciones
          width: 288px;
          height: 48px;
          font-size: 16px;
        }
        //Para pantallas mas chicas se elimina el padding para evitar desbordamientos hasta cierto punto
        @media screen and (max-width: 315px) {
          padding-left: 0;
          padding-top: 0;
          button {
            width: 90%;
          }
        }
      }
    }
    footer {
      //Se requiere una columna en este caso para ubicar los elementos
      flex-direction: column;
      padding: 0;
      //Separación del párrafo y la sección anterios
      p {
        margin-top: 24px;
      }
      .iconos-footer {
        margin-top: 16px;
        margin-bottom: 32px;
        width: 90%;
        justify-content: space-evenly;
      }
    }
  }
}
