* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (max-width: 500px) {
  header {
    width: 100%;
    height: 44px;
    top: 0;
    left: 0;
  }
  header img {
    position: relative;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 16px;
  }
  header .menu {
    float: right;
  }
  header .menu nav {
    position: absolute;
    text-align: left;
    display: none;
    top: 44px;
    left: 0;
    width: 100%;
    height: 224px;
    z-index: 100;
    background: #0000ec 100%;
  }
  header .menu nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
  }
  header .menu nav li {
    padding-left: 16px;
    letter-spacing: 0;
    line-height: 28px;
    display: block;
    list-style: none;
    color: #ffffff;
    font-family: "IBMPlexMono", monospace;
    font-size: 16px;
  }
  header .menu #checkbox-hack {
    width: 18px;
    height: 12px;
    z-index: 10;
    position: absolute;
    right: 1rem;
    top: 16px;
    opacity: 0;
  }
  header .menu #checkbox-hack:checked ~ .menu-bar.primer-linea {
    /* Cuando el checkbox este checked, se agarra a menu-bar primer-linea */
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    right: 0.8rem;
    margin-bottom: 4px;
  }
  header .menu #checkbox-hack:checked ~ .menu-bar.segunda-linea {
    /* Cuando el checkbox este checked, agarramos a menu-bar segunda-linea */
    opacity: 0;
    right: 0.8rem;
    margin-bottom: 4px;
  }
  header .menu #checkbox-hack:checked ~ .menu-bar.tercer-linea {
    /* Cuando el checkbox este checked, agarramos a menu-bar tercer-linea */
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    right: 0.8rem;
    margin-bottom: 4px;
  }
  header .menu #checkbox-hack:checked ~ nav {
    display: block;
  }
  header .menu .menu-bar {
    position: relative;
    width: 18px;
    height: 2px;
    background-color: black;
    z-index: 1;
    top: 16px;
    right: 1rem;
    margin-bottom: 3px;
  }
  main .initial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    left: 16px;
    padding-right: 2rem;
    top: 29px;
  }
  main .initial h1 {
    font-family: "IBM Plex Sans";
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: normal;
  }
  main .initial p {
    margin-top: 14px;
    font-family: "IBMPlexMono", monospace;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
  }
  main .btn-podcast {
    margin-top: 36px;
    font-family: "IBMPlexMono-Medium", monospace;
    color: #060A24 100%;
    height: 48px;
    background: #00F3BB 100%;
    border: 0;
  }
  main .btn-podcast:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */